
/* ::::: http://linux.yyz.us/c/andreas01.css ::::: */

body { margin: 0pt auto; padding: 0pt; background: rgb(244, 244, 244) url('bg.gif') repeat-y scroll center top; font-family: Verdana,Tahoma,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 76%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(48, 48, 48); }
#wrap { margin: 0pt auto; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(48, 48, 48); width: 760px; }
a { text-decoration: none; font-weight: bold; color: rgb(40, 110, 160); background-color: inherit; }
a:hover { text-decoration: underline; color: rgb(40, 110, 160); background-color: inherit; }
a img { border: 0pt none ; }
#header { margin: 10px 0pt 0pt; padding: 0pt; height: 45px; }
#header h1 { margin: 0pt 0pt 10px; color: rgb(80, 80, 80); background-color: inherit; width: 450px; font-size: 2.2em; float: left; }
#header h1 a { color: rgb(80, 80, 80); background-color: inherit; text-decoration: none; }
#header p { margin: 8px 0pt 0pt; width: 500px; float: right; text-align: center; color: rgb(80, 80, 80); font-size: 1.1em; font-weight: bold; line-height: 1.3em; background-color: inherit; }
#frontphoto { border: 0pt none ; margin: 0pt 0pt 10px; }
#leftside { margin: 0pt 0pt 5px; padding: 0pt; clear: left; float: left; width: 140px; }
#leftside h2, #leftside h3 { margin: 0pt 0pt 5px; padding: 0pt; color: rgb(80, 80, 80); background-color: inherit; font-size: 1.3em; }
#leftside div.announce { border-left: 4px solid rgb(204, 204, 204); margin: 10px 0pt 15px; padding: 7px 5px; clear: left; width: 126px; font-size: 0.9em; background-color: rgb(244, 244, 244); color: rgb(80, 80, 80); line-height: 1.5em; }
#leftside div.announce p { margin: 10px 0pt 0pt; padding: 0pt; }
ul.avmenu { margin: 0pt 0pt 18px; padding: 0pt; width: 140px; list-style-type: none; list-style-image: none; list-style-position: outside; }
ul.avmenu li { padding: 0pt; width: 140px; line-height: 1.4em; display: inline; }
ul.avmenu li a { border-left: 4px solid rgb(204, 204, 204); padding: 5px 1px 5px 5px; background-color: rgb(244, 244, 244); color: rgb(80, 80, 80); font-weight: bold; width: 130px; float: left; margin-bottom: 5px; text-decoration: none; }
ul.avmenu li a:hover, ul.avmenu li a.current { border-left: 4px solid rgb(40, 110, 160); background-color: rgb(234, 234, 234); color: rgb(80, 80, 80); }
ul.avmenu ul { margin: 0pt 0pt 0pt 15px; padding: 0pt 0pt 5px; font-size: 0.9em; width: 125px; }
ul.avmenu ul a { padding: 3px 1px 3px 5px; width: 115px; }
ul.avmenu ul ul { width: 113px; }
ul.avmenu ul ul a { width: 100px; }
#extras { margin: 0pt 0pt 5px; padding: 0pt; float: right; width: 140px; line-height: 1.4em; }
#extras p, #extras ul { margin: 0pt 0pt 16px; padding: 0pt; font-size: 0.9em; }
#extras li { margin: 0pt 0pt 6px; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; line-height: 1.2em; }
#extras ul ul { margin: 6px 0pt 0pt 10px; padding: 0pt; }
#extras ul ul li { margin: 0pt 0pt 4px; }
#extras ul ul li a { font-size: 1.1em; font-weight: normal; }
#extras h2, #extras h3 { margin: 0pt 0pt 10px; padding: 0pt; color: rgb(80, 80, 80); background-color: inherit; font-size: 1.2em; }
#content { border-left: 1px solid rgb(224, 224, 224); border-right: 1px solid rgb(224, 224, 224); margin: 0pt 150px 5px; padding: 0pt 10px; line-height: 1.6em; }
#contentwide { border-left: 1px solid rgb(240, 240, 240); margin: 0pt 0pt 5px 150px; padding: 0pt 0pt 0pt 10px; line-height: 1.6em; }
#content h2, #contentwide h2 { margin: 0pt 0pt 10px; font-size: 1.6em; }
#content h3, #contentwide h3 { margin: 0pt 0pt 8px; font-size: 1.4em; }
#content img, #contentwide img { border: 4px solid rgb(240, 240, 240); padding: 1px; background: rgb(204, 204, 204) none repeat scroll 0% 0%; display: inline; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(48, 48, 48); }
#content ul, #contentwide ul, #content ol, #contentwide ol { margin: 0pt 0pt 16px 20px; padding: 0pt; }
#content li, #contentwide li { margin: 0pt; padding: 0pt 0pt 0pt 5px; }
#content ul ul, #contentwide ul ul, #content ol ol, #contentwide ol ol { margin: 0pt 0pt 0pt 16px; padding: 0pt; }
#footer { border-top: 4px solid rgb(240, 240, 240); margin: 0pt auto; padding: 10px 0pt 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; clear: both; width: 760px; text-align: center; color: rgb(128, 128, 128); -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-size: 0.9em; }
#footer a { color: rgb(128, 128, 128); background-color: inherit; text-decoration: none; }
#footer a:hover { text-decoration: underline; }
.left { margin: 3px 10px 2px 0pt; float: left; }
.right { margin: 2px 0pt 2px 10px; float: right; }
.textright { text-align: right; }
.center { text-align: center; }
.small { font-size: 0.8em; }
.bold { font-weight: bold; }
.hide { display: none; }

/* ::::: http://linux.yyz.us/c/code.css ::::: */

div#preamble, div.tableblock, div.imageblock, div.exampleblock, div.verseblock, div.quoteblock, div.literalblock, div.listingblock, div.sidebarblock, div.admonitionblock { margin-right: 10%; margin-top: 1.5em; margin-bottom: 1.5em; }
div.content { padding: 0pt; }
div.content div.title:first-child { margin-top: 0em; }
div.listingblock > div.content { border: 1px solid silver; padding: 0.5em; background: rgb(244, 244, 244) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
