
/* ::::: http://book.git-scm.com/blueprint/screen.css ::::: */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0pt none ; margin: 0pt; padding: 0pt; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; }
table { border-collapse: separate; border-spacing: 0pt; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: medium none ; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 75%; color: rgb(34, 34, 34); -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; color: rgb(17, 17, 17); }
h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; height: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0pt; }
p { margin: 0pt 0pt 1.5em; }
p img { margin: 1.5em 1.5em 1.5em 0pt; padding: 0pt; float: left; }
p img.right { margin: 1.5em 0pt 1.5em 1.5em; float: right; }
a:focus, a:hover { color: rgb(0, 0, 0); }
a { color: rgb(0, 0, 153); text-decoration: underline; }
blockquote { margin: 1.5em; color: rgb(102, 102, 102); font-style: italic; }
strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
sup, sub { line-height: 0pt; }
abbr, acronym { border-bottom: 1px dotted rgb(102, 102, 102); }
address { margin: 0pt 0pt 1.5em; font-style: italic; }
del { color: rgb(102, 102, 102); }
pre, code { margin: 1.5em 0pt; white-space: pre; }
pre, code, tt { font-family: 'andale mono','lucida console',monospace; font-style: normal; font-variant: normal; font-weight: normal; font-size: 1em; font-size-adjust: none; font-stretch: normal; -x-system-font: none; line-height: 1.5; }
li ul, li ol { margin: 0pt 1.5em; }
ul, ol { margin: 0pt 1.5em 1.5em; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
dl { margin: 0pt 0pt 1.5em; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table { margin-bottom: 1.4em; width: 100%; }
th { background: rgb(195, 217, 255) none repeat scroll 0% 0%; font-weight: bold; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
th, td { padding: 4px 10px 4px 5px; }
tr.even td { background: rgb(229, 236, 249) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
tfoot { font-style: italic; }
caption { background: rgb(238, 238, 238) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.small { font-size: 0.8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide { display: none; }
.quiet { color: rgb(102, 102, 102); }
.loud { color: rgb(0, 0, 0); }
.highlight { background: rgb(255, 255, 0) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.added { background: rgb(0, 102, 0) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(255, 255, 255); }
.removed { background: rgb(153, 0, 0) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(255, 255, 255); }
.first { margin-left: 0pt; padding-left: 0pt; }
.last { margin-right: 0pt; padding-right: 0pt; }
.top { margin-top: 0pt; padding-top: 0pt; }
.bottom { margin-bottom: 0pt; padding-bottom: 0pt; }
.container { margin: 0pt auto; width: 788px; }
.showgrid { background: transparent url('grid.png') repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
body { margin: 1.5em 0pt; }
div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21 { float: left; margin-right: 10px; }
div.last { margin-right: 0pt; }
.span-1 { width: 28px; }
.span-2 { width: 66px; }
.span-3 { width: 104px; }
.span-4 { width: 142px; }
.span-5 { width: 180px; }
.span-6 { width: 218px; }
.span-7 { width: 256px; }
.span-8 { width: 294px; }
.span-9 { width: 332px; }
.span-10 { width: 370px; }
.span-11 { width: 408px; }
.span-12 { width: 446px; }
.span-13 { width: 484px; }
.span-14 { width: 522px; }
.span-15 { width: 560px; }
.span-16 { width: 598px; }
.span-17 { width: 636px; }
.span-18 { width: 674px; }
.span-19 { width: 712px; }
.span-20 { width: 750px; }
.span-21, div.span-21 { margin: 0pt; width: 788px; }
.append-1 { padding-right: 38px; }
.append-2 { padding-right: 76px; }
.append-3 { padding-right: 114px; }
.append-4 { padding-right: 152px; }
.append-5 { padding-right: 190px; }
.append-6 { padding-right: 228px; }
.append-7 { padding-right: 266px; }
.append-8 { padding-right: 304px; }
.append-9 { padding-right: 342px; }
.append-10 { padding-right: 380px; }
.append-11 { padding-right: 418px; }
.append-12 { padding-right: 456px; }
.append-13 { padding-right: 494px; }
.append-14 { padding-right: 532px; }
.append-15 { padding-right: 570px; }
.append-16 { padding-right: 608px; }
.append-17 { padding-right: 646px; }
.append-18 { padding-right: 684px; }
.append-19 { padding-right: 722px; }
.append-20 { padding-right: 760px; }
.prepend-1 { padding-left: 38px; }
.prepend-2 { padding-left: 76px; }
.prepend-3 { padding-left: 114px; }
.prepend-4 { padding-left: 152px; }
.prepend-5 { padding-left: 190px; }
.prepend-6 { padding-left: 228px; }
.prepend-7 { padding-left: 266px; }
.prepend-8 { padding-left: 304px; }
.prepend-9 { padding-left: 342px; }
.prepend-10 { padding-left: 380px; }
.prepend-11 { padding-left: 418px; }
.prepend-12 { padding-left: 456px; }
.prepend-13 { padding-left: 494px; }
.prepend-14 { padding-left: 532px; }
.prepend-15 { padding-left: 570px; }
.prepend-16 { padding-left: 608px; }
.prepend-17 { padding-left: 646px; }
.prepend-18 { padding-left: 684px; }
.prepend-19 { padding-left: 722px; }
.prepend-20 { padding-left: 760px; }
div.border { border-right: 1px solid rgb(238, 238, 238); padding-right: 4px; margin-right: 5px; }
div.colborder { border-right: 1px solid rgb(238, 238, 238); padding-right: 24px; margin-right: 23px; }
.pull-1 { margin-left: -38px; }
.pull-2 { margin-left: -76px; }
.pull-3 { margin-left: -114px; }
.pull-4 { margin-left: -152px; }
.pull-5 { margin-left: -190px; }
.pull-6 { margin-left: -228px; }
.pull-7 { margin-left: -266px; }
.pull-8 { margin-left: -304px; }
.pull-9 { margin-left: -342px; }
.pull-10 { margin-left: -380px; }
.pull-11 { margin-left: -418px; }
.pull-12 { margin-left: -456px; }
.pull-13 { margin-left: -494px; }
.pull-14 { margin-left: -532px; }
.pull-15 { margin-left: -570px; }
.pull-16 { margin-left: -608px; }
.pull-17 { margin-left: -646px; }
.pull-18 { margin-left: -684px; }
.pull-19 { margin-left: -722px; }
.pull-20 { margin-left: -760px; }
.pull-21 { margin-left: -798px; }
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21 { float: left; position: relative; }
.push-1 { margin: 0pt -38px 1.5em 38px; }
.push-2 { margin: 0pt -76px 1.5em 76px; }
.push-3 { margin: 0pt -114px 1.5em 114px; }
.push-4 { margin: 0pt -152px 1.5em 152px; }
.push-5 { margin: 0pt -190px 1.5em 190px; }
.push-6 { margin: 0pt -228px 1.5em 228px; }
.push-7 { margin: 0pt -266px 1.5em 266px; }
.push-8 { margin: 0pt -304px 1.5em 304px; }
.push-9 { margin: 0pt -342px 1.5em 342px; }
.push-10 { margin: 0pt -380px 1.5em 380px; }
.push-11 { margin: 0pt -418px 1.5em 418px; }
.push-12 { margin: 0pt -456px 1.5em 456px; }
.push-13 { margin: 0pt -494px 1.5em 494px; }
.push-14 { margin: 0pt -532px 1.5em 532px; }
.push-15 { margin: 0pt -570px 1.5em 570px; }
.push-16 { margin: 0pt -608px 1.5em 608px; }
.push-17 { margin: 0pt -646px 1.5em 646px; }
.push-18 { margin: 0pt -684px 1.5em 684px; }
.push-19 { margin: 0pt -722px 1.5em 722px; }
.push-20 { margin: 0pt -760px 1.5em 760px; }
.push-21 { margin: 0pt -798px 1.5em 798px; }
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21 { float: right; position: relative; }
.box { padding: 1.5em; background: rgb(229, 236, 249) none repeat scroll 0% 0%; margin-bottom: 1.5em; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
hr { border: medium none ; margin: 0pt 0pt 1.45em; background: rgb(221, 221, 221) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(221, 221, 221); clear: both; float: none; width: 100%; height: 0.1em; }
hr.space { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(255, 255, 255); }
.clearfix:after, .container:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.clearfix, .container { display: inline-block; }
* html .clearfix, * html .container { height: 1%; }
.clearfix, .container { display: block; }
.clear { clear: both; }
label { font-weight: bold; }
fieldset { border: 1px solid rgb(204, 204, 204); margin: 0pt 0pt 1.5em; padding: 1.4em; }
legend { font-weight: bold; font-size: 1.2em; }
input.text, input.title, textarea, select { border: 1px solid rgb(187, 187, 187); margin: 0.5em 0pt; }
input.text:focus, input.title:focus, textarea:focus, select:focus { border: 1px solid rgb(102, 102, 102); }
input.text, input.title { padding: 5px; width: 300px; }
input.title { font-size: 1.5em; }
textarea { padding: 5px; width: 390px; height: 250px; }
.error, .notice, .success { border: 2px solid rgb(221, 221, 221); padding: 0.8em; margin-bottom: 1em; }
.error { border-color: rgb(251, 194, 196); background: rgb(251, 227, 228) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(138, 31, 17); }
.notice { border-color: rgb(255, 211, 36); background: rgb(255, 246, 191) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(81, 71, 33); }
.success { border-color: rgb(198, 216, 128); background: rgb(230, 239, 194) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(38, 68, 9); }
.error a { color: rgb(138, 31, 17); }
.notice a { color: rgb(81, 71, 33); }
.success a { color: rgb(38, 68, 9); }

/* ::::: http://book.git-scm.com/stylesheets/style.css ::::: */

body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(51, 51, 51); }
a { color: rgb(110, 33, 46); }
.center { text-align: center; }
.pad { padding: 5px; }
.chapter img { display: block; }
#toc { padding: 10px; font-size: 120%; }
#toc ul { display: inline; }
#toc ul li { display: inline; margin-left: 20px; margin-right: 20px; }
#toc ul li a { color: rgb(34, 68, 0); }
.chapter { font-size: 120%; }
.chapter .header { padding: 5px; background: rgb(154, 181, 79) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.chapter .header .title a { color: rgb(255, 255, 255); text-align: left; font-weight: bold; font-size: 120%; }
.chapter .header .nav { float: right; }
.chapter .header .nav a { color: rgb(255, 255, 255); }
ul.a-index li#m-index a, ul.a-about li#m-about a, ul.a-documentation li#m-documentation a, ul.a-download li#m-download a, ul.a-tools li#m-tools a { font-weight: bold; color: rgb(255, 255, 255); text-decoration: none; }
ul#about-list li { padding: 5px; }
ul#about-list li b { color: rgb(110, 33, 46); }
.header h1 { text-align: center; }
.navbar { background: rgb(154, 181, 79) none repeat scroll 0% 0%; text-align: center; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.footer { background: rgb(227, 209, 133) none repeat scroll 0% 0%; text-align: center; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.menu { padding: 10px; }
h2.section-start { background: rgb(154, 181, 79) none repeat scroll 0% 0%; text-align: center; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(34, 68, 0); }
h3.title { padding: 5px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.inner { padding: 5px 10px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.inner p { margin: 10px 0pt; }
.example { padding: 10px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
img.book { border: 1px solid rgb(102, 102, 102); }
#book-intro { padding: 10px; background: rgb(255, 233, 183) none repeat scroll 0% 0%; margin-bottom: 15px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
#book-intro h3 { color: rgb(102, 51, 0); font-size: 200%; font-weight: bold; }
#new-to-git { padding: 10px 10px 15px; background: rgb(181, 70, 63) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
#new-to-git h3 { color: rgb(255, 238, 238); font-size: 150%; font-weight: bold; text-align: center; }
#new-to-git h3 small { color: rgb(238, 238, 238); font-weight: normal; font-size: 70%; }
a.chapter-link { font-size: 120%; }
a.todo { color: rgb(136, 136, 136) ! important; }
table tr td { vertical-align: top; }
table.data-table tr td { vertical-align: top; }
table.data-table tr td h3 { padding: 5px; background: rgb(181, 70, 63) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(255, 255, 255); }
pre { padding: 5px; background: rgb(238, 238, 238) none repeat scroll 0% 0% ! important; -moz-background-clip: -moz-initial ! important; -moz-background-origin: -moz-initial ! important; -moz-background-inline-policy: -moz-initial ! important; }
.gitcast { border: 1px solid rgb(227, 209, 133); padding: 20px; background: rgb(255, 233, 183) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; text-align: center; }
