
/* ::::: null ::::: */

p, li, dt, dd, div, pre, h1, h2, h3, h4, h5, h6 {  }
body { margin: 1em 5%; }
a { color: blue; text-decoration: underline; }
a:visited { color: fuchsia; }
em { font-style: italic; }
strong { font-weight: bold; }
tt { color: navy; }
h1, h2, h3, h4, h5, h6 { color: rgb(82, 123, 189); font-family: sans-serif; margin-top: 1.2em; margin-bottom: 0.5em; line-height: 1.3; }
h1, h2, h3 { border-bottom: 2px solid silver; }
h2 { padding-top: 0.5em; }
h3 { float: left; }
h3 + * { clear: left; }
div.sectionbody { font-family: serif; margin-left: 0pt; }
hr { border: 1px solid silver; }
p { margin-top: 0.5em; margin-bottom: 0.5em; }
pre { margin: 0pt; padding: 0pt; }
span#author { color: rgb(82, 123, 189); font-family: sans-serif; font-weight: bold; font-size: 1.1em; }
span#email {  }
span#revision { font-family: sans-serif; }
div#footer { border-top: 2px solid silver; font-family: sans-serif; font-size: small; padding-top: 0.5em; margin-top: 4em; }
div#footer-text { float: left; padding-bottom: 0.5em; }
div#footer-badges { float: right; padding-bottom: 0.5em; }
div#preamble, div.tableblock, div.imageblock, div.exampleblock, div.verseblock, div.quoteblock, div.literalblock, div.listingblock, div.sidebarblock, div.admonitionblock { margin-right: 10%; margin-top: 1.5em; margin-bottom: 1.5em; }
div.admonitionblock { margin-top: 2.5em; margin-bottom: 2.5em; }
div.content { padding: 0pt; }
div.title, caption.title { font-family: sans-serif; font-weight: bold; text-align: left; margin-top: 1em; margin-bottom: 0.5em; }
div.title + * { margin-top: 0pt; }
td div.title:first-child { margin-top: 0em; }
div.content div.title:first-child { margin-top: 0em; }
div.content + div.title { margin-top: 0em; }
div.sidebarblock > div.content { border: 1px solid silver; padding: 0.5em; background: rgb(255, 255, 238) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.listingblock { margin-right: 0%; }
div.listingblock > div.content { border: 1px solid silver; padding: 0.5em; background: rgb(244, 244, 244) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.quoteblock > div.content { padding-left: 2em; }
div.attribution { text-align: right; }
div.verseblock + div.attribution { text-align: left; }
div.admonitionblock .icon { vertical-align: top; font-size: 1.1em; font-weight: bold; text-decoration: underline; color: rgb(82, 123, 189); padding-right: 0.5em; }
div.admonitionblock td.content { border-left: 2px solid silver; padding-left: 0.5em; }
div.exampleblock > div.content { border-left: 2px solid silver; padding: 0.5em; }
div.verseblock div.content { white-space: pre; }
div.imageblock div.content { padding-left: 0pt; }
div.imageblock img { border: 1px solid silver; }
span.image img { border-style: none; }
dl { margin-top: 0.8em; margin-bottom: 0.8em; }
dt { margin-top: 0.5em; margin-bottom: 0pt; font-style: italic; }
dd > :first-child { margin-top: 0pt; }
ul, ol { list-style-position: outside; }
div.olist2 ol { list-style-type: lower-alpha; }
div.tableblock > table { border: 3px solid rgb(82, 123, 189); }
thead { font-family: sans-serif; font-weight: bold; }
tfoot { font-weight: bold; }
div.hlist { margin-top: 0.8em; margin-bottom: 0.8em; }
div.hlist td { padding-bottom: 5px; }
td.hlist1 { vertical-align: top; font-style: italic; padding-right: 0.8em; }
td.hlist2 { vertical-align: top; }
@media print {
  div#footer-badges { display: none; }
}
div#toctitle { color: rgb(82, 123, 189); font-family: sans-serif; font-size: 1.1em; font-weight: bold; margin-top: 1em; margin-bottom: 0.1em; }
div.toclevel1, div.toclevel2, div.toclevel3, div.toclevel4 { margin-top: 0pt; margin-bottom: 0pt; }
div.toclevel2 { margin-left: 2em; font-size: 0.9em; }
div.toclevel3 { margin-left: 4em; font-size: 0.9em; }
div.toclevel4 { margin-left: 6em; font-size: 0.9em; }
div.sidebar-title, div.image-title { font-family: sans-serif; font-weight: bold; margin-top: 0em; margin-bottom: 0.5em; }
div.listingblock div.content { border: 1px solid silver; padding: 0.5em; background: rgb(244, 244, 244) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.quoteblock-content { padding-left: 2em; }
div.exampleblock-content { border-left: 2px solid silver; padding-left: 0.5em; }
div#toc a:visited { color: blue; }
