
/* ::::: http://www.securepoint.com/lists/html/stylesheet.css ::::: */

body { background-color: rgb(221, 221, 221); color: black; text-align: left; }
.listTitle { border: thin solid black; padding: 0.25em; font-size: larger; background-color: rgb(255, 238, 204); }
div.metaIdxNav { text-align: center; font-size: smaller; }
div.idxTitle { text-align: center; margin-bottom: 0.5em; }
.periodLink { border: thin solid black; padding: 0.25em; background-color: rgb(204, 238, 255); }
.iaText { color: rgb(136, 136, 136); }
table.archiveLists { background: black none repeat scroll 0% 0%; color: rgb(238, 238, 238); -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
table.archiveLists * th { background: rgb(255, 238, 204) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: black; }
table.archiveLists * td { background: rgb(204, 238, 255) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: black; }
.listName { font-weight: bold; }
.infoLink { font-weight: normal; }
div.dayGroup { border: thin solid black; padding: 0.5em; background-color: rgb(238, 238, 238); margin-bottom: 0.5em; }
div.dayGroup > ul { margin-top: 0em; margin-bottom: 0em; }
div.threadList > ul { margin: 0.5em; padding-left: 1em; }
div.threadGroup { border: thin solid black; padding: 0.5em; background-color: rgb(238, 238, 238); margin-top: 0.25em; margin-bottom: 0.25em; }
div.threadGroup > ul { margin-top: 0em; margin-bottom: 0em; }
div.msgTitle { text-align: center; margin-bottom: 0.5em; }
div.msgSubject h2 { margin-top: 0.25em; margin-bottom: 0.25em; }
div.msgLinks { margin-left: 1em; margin-right: 1em; }
div.msgLinks > table * td { font-size: smaller; }
div.topLinks { text-align: center; }
.topDateNav { border: thin solid black; padding: 0.25em; background-color: rgb(204, 238, 255); }
.topThreadNav { border: thin solid black; padding: 0.25em; background-color: rgb(204, 238, 255); }
div.msgHead { margin-top: 0.5em; margin-bottom: 0.5em; }
div.msgHead > table { border: thin solid black; background-color: rgb(255, 238, 204); padding-left: 0.5em; padding-right: 0.5em; width: 100%; border-spacing: 0em; }
div.msgBody { margin-top: 0.5em; margin-bottom: 0.5em; }
div.msgBody > table { border: thin solid black; background-color: rgb(238, 238, 238); padding-left: 0.5em; padding-right: 0.5em; }
div.tSlice { margin-top: 0.5em; margin-bottom: 0.5em; }
div.tSlice table { background-color: black; }
div.tSlice * td { background-color: rgb(204, 238, 255); }
div.tSlice * th { background-color: rgb(255, 238, 204); }
tr.tSliceList td { background-color: rgb(221, 221, 221); }
.sliceCur { background-color: rgb(204, 204, 204); }
div.botLinks > table { border: thin solid black; background-color: rgb(255, 238, 204); padding-left: 0.5em; padding-right: 0.5em; border-spacing: 0em; }
